

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --fondo-principal-dark: #555;
    --fondo-secundario-dark: #222;

    --color-light-uno: #E5D9F2;
    --color-light-dos: #A594F9;
    --color-light-tres: #CDC1FF;
}

img {
    width: 100%;
}

.grilla {
    display: grid;

    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/*HEADER -----------------------------------------------------------*/
header {
    grid-area: header;
    height: 10vh;

    background-color: var(--fondo-secundario-dark);
    color: var(--color-light-uno);
}

.container-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    padding-top: 10px;
}

.container-img-header {
    width: 50px;
}

.container-dark-light {
    margin-right: 20px;
}

.btn-dark-light {
    border-radius: 50%;
    
    font-size: 2rem;
    background-color:var(--color-light-uno);
    color: var(--color-light-dos);
}

/*MAIN -----------------------------------------------------------*/
main {
    grid-area: main;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-content: center;
    padding-bottom: 40px;

    background-color: var(--fondo-principal-dark);
    color: var(--color-light-dos);
}

.titulo {
    margin-bottom: 20px;

    text-align: center;
    color: var(--color-light-uno);
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-conversor {
    margin: 0 10px;
    min-height: 40vh;
    width: 80vw;
    max-width:800px;
    padding-bottom: 40px;
    
    border-radius: 16px;
    background-color: var(--fondo-secundario-dark);
}

.form-inputs {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin-top: 20px; 
}

label, h2{
    font-weight: 200;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
    outline: none;
}

input{
    border-radius: 10px;
    height: 30px;
    width: 360px;

    text-align: center;
    color: var(--color-light-uno);
    background-color: var(--fondo-principal-dark);
}

.form-inputs label:first-child input{
    width: 200px;
}

.btn-calcular {
    border-radius: 20px;
    height: 40px;
    width: 100px;

    background-color: var(--color-light-dos);
    color: var(--fondo-secundario-dark);
}

table {
    color: var(--color-light-tres);
    background-color: var(--fondo-principal-dark);
}

table tr:nth-child(n) {
    background-color: var(--fondo-principal-dark);
}

table tr:nth-child(2n) {
    background-color: var(--fondo-secundario-dark);
}

td {
    text-align: center;
    color: var(--color-light-uno);
    min-width: 40px;
    height: 20px;

}

/*FOOTER -------------------------------------------------------*/

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

    background-color: var(--fondo-secundario-dark);
    color: var(--color-light-uno);
}

@media screen and (max-width: 400px) {
    input {
        width: 200px;
    }
}
